* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
fieldset,
form,
label,
legend article,
footer,
header nav section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #ffffff;
  background-color: #212121;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: white !important;
}
ol,
ul {
  list-style: none;
}
button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
*:focus-visible {
  outline: 0;
}
@font-face {
  font-family: "YS Display";
  src: url("./fonts/YSDisplay-Regular.woff2") format("woff2"), url("./fonts/YSDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YS Display";
  src: url("./fonts/YSDisplay-Medium.woff2") format("woff2"), url("./fonts/YSDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spektra";
  src: url("./fonts/Spektra.woff2") format("woff2"), url("./fonts/Spektra.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "YS Display", Helvetica, Spektra, sans-serif !important;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}
.video-header {
  padding: 36px 0;
}
.video-header--full {
  visibility: hidden;
  opacity: 0;
}
.video-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-header__link-image {
  max-width: 323px;
}
.video-header__link-arrow {
  margin-right: 8px;
}
.video-section__container {
  position: relative;
}
.video-section__container--full {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}
.video-section__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.video-section__list {
  width: 100%;
}
.video-section__item {
  display: none;
  width: 100%;
  height: 557px;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-section__item--active {
  display: flex;
}
.video-section__item--full {
  height: auto;
  border-radius: 0;
  -o-object-fit: unset;
     object-fit: unset;
}
.video-section__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.video-section__content--hidden {
  visibility: hidden;
  opacity: 0;
}
.video-section__content--full {
  border-radius: unset;
}
.video-section__content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}
.video-section__content-top img {
  margin-bottom: 10px;
  width: 153px;
  height: 102px;
}
.video-section__label {
  display: none;
}
.video-section__label--active {
  display: block;
}
.video-section__bottom {
  padding: 0 24px 16px 24px;
  z-index: 1;
}
.video-section__controls,
.video-section__controls-left,
.video-section__controls-wrapper,
.video-section__controls-right {
  display: flex;
  align-items: center;
}
.video-section__controls {
  padding-top: 8px;
  gap: 32px;
}
.video-section__controls-left {
  margin-right: auto;
  gap: 24px;
}
.video-section__controls-wrapper {
  gap: 10px;
}
.video-section__controls-wrapper--pt {
  padding-top: 6px;
}
.full-screen-close {
  position: absolute;
  display: none;
  top: 32px;
  right: 32px;
}
.full-screen-close--full {
  display: block;
  z-index: 1;
}
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.play-button__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.play-button__image--active {
  visibility: visible;
  opacity: 1;
}
.progress {
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.progress--hidden {
  visibility: hidden;
  opacity: 0;
}
.progress__time {
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
  top: -30px;
  transform: translateX(-50%);
}
.progress__time--active {
  display: flex;
}
.progress__bar {
  position: relative;
  background-color: #ffffff;
  height: 4px;
  border-radius: 100px;
  cursor: pointer;
}
.progress__fill {
  height: 100%;
  width: 0;
  background-color: #ffe800;
  border-radius: 100px;
  transition: width 0.2s ease;
}
.progress__indicator {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffe800;
  border-radius: 50%;
  top: -4px;
  transition: left 0.2s ease;
}
.bottom-play-button {
  position: relative;
  top: -1px;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  background-image: url(https://avatars.mds.yandex.net/get-lpc/12373972/ed472ce3-d8bc-4591-908e-07940d2f07fd/orig);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.2s ease-in-out;
}
.bottom-play-button--paused {
  background-image: url(https://avatars.mds.yandex.net/get-lpc/10116223/6d5891fd-cf8a-400a-9b8d-91d5b1d29f93/orig);
}
.volume-control {
  position: relative;
}
.volume-button {
  width: 28px;
  height: 28px;
  background-image: url(https://avatars.mds.yandex.net/get-lpc/12373972/808e3ddf-740a-47f8-8581-76ae6f317c15/orig);
  background-repeat: no-repeat;
  background-position: center;
}
.volume-button--muted {
  background-image: url(https://avatars.mds.yandex.net/get-lpc/10116223/0b708279-4208-486d-b9d9-ca424ef47503/orig);
}
.volume-bar {
  position: absolute;
  left: 10px;
  width: 3px;
  height: 75px;
  bottom: 33px;
  background-color: #9a8e11;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;
}
.volume-bar::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 85px;
  top: -5px;
  left: -12px;
}
.volume-fill {
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}
.volume-indicator {
  width: 12px;
  height: 12px;
  background-color: #e9d404;
  border-radius: 50%;
  position: absolute;
  left: -4.5px;
  top: 50%;
  transform: translateY(-50%);
}
.volume-control:hover .volume-bar,
.volume-bar:hover .volume-bar {
  visibility: visible;
  opacity: 1;
}
.series {
  position: absolute;
  display: flex;
  z-index: 1;
  right: 69px;
  bottom: 12px;
}
.series__button {
  display: flex;
  align-items: center;
  padding: 11px 15px;
  gap: 6px;
  font-size: 16px;
  color: #212121;
  background-color: #ffffff;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.series__button--active {
  background-color: #ffe800;
}
.series__button--hidden {
  visibility: hidden;
  opacity: 0;
}
.series__wrapper {
  position: absolute;
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  bottom: 46px;
  right: 0;
  width: 500px;
  max-height: 70vh;
  background-color: #212121;
  border: 1px solid #4c4c4c;
  border-radius: 20px;
}
.series__wrapper--active {
  display: flex;
}
.series__close {
  align-self: flex-end;
  margin: 0 24px;
  padding: 24px 0 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.series__border {
  margin: 0 24px;
  height: 1px;
  background-color: #4c4c4c;
}
.series__list {
  padding-left: 24px;
  padding-bottom: 24px;
  overflow-y: auto;
}
.series__list::-webkit-scrollbar {
  width: 2px;
}
.series__list::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
}
.series__list::-webkit-scrollbar-track {
  margin-bottom: 25px;
  background: transparent;
}
.series__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-right: 24px;
  padding: 20px 0;
  gap: 12px;
  border-bottom: 1px solid #4c4c4c;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.series__item::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 10px;
  bottom: 10px;
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out;
}
.series__item:hover {
  color: #222222;
}
.series__item:hover::after {
  background-color: #ffe800;
}
.series__item-image {
  max-width: 140px;
  width: 100%;
  min-height: 90px;
  background-color: #d9d9d9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}
.series__item-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.series__item-title {
  font-family: Spektra;
  font-size: 38px;
  line-height: 100%;
  text-transform: uppercase;
}
.series__item-description {
  max-width: 200px;
}
.full-screen-button {
  width: 24px;
  height: 24px;
  background-image: url(https://avatars.mds.yandex.net/get-lpc/10116223/5772151c-9646-467a-a46c-fcad8825bc22/orig);
  background-repeat: no-repeat;
  background-position: center;
}
.full-screen-button--opened {
  background-image: url(https://avatars.mds.yandex.net/get-lpc/10116223/5b0717f6-afc7-45c1-bbbd-e26c1751d887/orig);
}
.bottom-section {
  padding: 16px 0;
}
.bottom-section--full {
  visibility: hidden;
  opacity: 0;
}
.shade {
  display: none;
}
.share {
  position: relative;
  display: flex;
  justify-content: center;
}
.share__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 144px;
  width: 100%;
  height: 38px;
  font-size: 16px;
  line-height: 100%;
  border: 1px solid #ffffff;
  border-radius: 12px;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.share__button path {
  transition: fill 0.1s ease-in-out;
}
.share__button--active {
  color: #212121;
  background-color: #ffe800;
  border-color: #ffe800;
}
.share__button--active path {
  fill: #212121;
}
.share__content {
  position: absolute;
  display: none;
  z-index: 1;
  padding: 24px;
  max-width: 330px;
  width: 100%;
  bottom: 46px;
  background-color: #1e1e1e;
  border: 1px solid #4c4c4c;
  border-radius: 16px;
}
.share__content--active {
  display: block;
}
.share__close {
  display: none;
}
.share__title {
  margin-bottom: 20px;
  font-weight: 500;
}
.share__links {
  display: flex;
  margin-bottom: 18px;
  gap: 6px;
}
.share__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  flex-grow: 1;
  border-radius: 6px;
}
.share__link--tg {
  background: #72a6e6;
}
.share__link--vk {
  background: #2899f4;
}
.share__link--ok {
  background: #f39843;
}
.share__info {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 100%;
  opacity: 0.4;
}
.share__form,
.share__pop-up-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 13px;
  border-radius: 6px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: #2e2e2e;
}
.share__form-button {
  width: 16px;
  height: 16px;
}
.share__input {
  max-width: 232px;
  width: 100%;
  font-size: 10px;
  color: #ffffff;
  text-overflow: ellipsis;
  background-color: transparent;
  border: none;
}
.share__pop-up {
  position: absolute;
  width: 100%;
  padding: 0 24px;
  left: 0;
  bottom: 24px;
  font-size: 10px;
  line-height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.share__pop-up--active {
  visibility: visible;
  opacity: 1;
}
.video-footer {
  padding: 48px 0 32px;
}
.video-footer--full {
  visibility: hidden;
  opacity: 0;
}
.video-footer__wrapper,
.video-footer__right,
.video-footer__links {
  display: flex;
  align-items: center;
}
.video-footer__wrapper {
  justify-content: space-between;
}
.video-footer__copywrite {
  font-family: Helvetica;
  font-size: 14px;
  color: #f5f4f2;
}
.video-footer__right {
  gap: 24px;
}
.video-footer__links {
  gap: 8px;
}
@media (max-width: 960px) {
  .video-header {
    position: relative;
    margin-bottom: 10px;
    padding: 16px 0;
    z-index: 1;
  }
  .video-header__link {
    font-size: 14px;
  }
  .video-header__link-image {
    max-width: 192px;
  }
  .video-header__link-arrow {
    margin-right: 6px;
  }
  .video-section__container {
    z-index: 1;
  }
  .video-section__container--full {
    height: calc(100vh - 40px);
  }
  .video-section__wrapper {
    margin-bottom: 59px;
  }
  .video-section__wrapper--full {
    margin: 0;
  }
  .video-section__top {
    margin-bottom: 16px;
    padding: 0;
  }
  .video-section__top-link {
    font-size: 14px;
    gap: 6px;
  }
  .video-section__item {
    height: 220px;
    border-radius: 16px;
  }
  .video-section__item--full {
    height: 100%;
    border-radius: 0;
    -o-object-fit: unset;
       object-fit: unset;
  }
  .video-section__content {
    border-radius: 16px;
  }
  .video-section__content--full {
    border-radius: 0;
  }
  .video-section__content-top {
    padding-top: 8px;
  }
  .video-section__content-top--full {
    padding-top: 20px;
  }
  .video-section__content-top img {
    margin-bottom: 2px;
    width: 57px;
    height: 40px;
  }
  .video-section__label {
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
  }
  .video-section__bottom {
    padding: 0 8px 8px;
  }
  .video-section__bottom--full {
    padding: 12px 8px 20px 8px;
  }
  .full-screen-close {
    top: 24px;
    right: 24px;
  }
  .full-screen-close img {
    width: 24px;
    height: 24px;
  }
  .play-button__image {
    width: 34px;
    height: 34px;
  }
  .progress {
    margin-bottom: 8px;
  }
  .progress__bar {
    height: 2px;
  }
  .progress__indicator {
    width: 8px;
    height: 8px;
    top: -3px;
  }
  .volume-button {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .series {
    position: static;
  }
  .series--full {
    position: absolute;
    right: 47px;
    bottom: 10px;
  }
  .series__button {
    display: none;
    padding: 11px 15px;
    gap: 6px;
    font-size: 13px !important;
    border-radius: 10px;
  }
  .series__button--full {
    display: flex;
  }
  .series__wrapper {
    position: static;
    display: flex;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    max-height: 459px;
    border: none;
  }
  .series__wrapper--full {
    position: absolute;
    display: none;
    padding: 4px 20px 20px;
    bottom: 42px;
    left: revert-layer;
    width: 335px;
    max-height: 350px;
    border-radius: 10px;
  }
  .series__wrapper--active {
    display: flex;
  }
  .series__close {
    display: none;
  }
  .series__close--full {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    top: 17px;
    right: 17px;
    width: 8px;
    height: 8px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/12602567/41bfe472-dc9e-4c8a-b71f-caae7c705d19/orig);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .series__close--full img {
    display: none;
  }
  .series__border {
    display: none;
  }
  .series__list {
    margin: 0;
    padding: 0;
  }
  .series__list::-webkit-scrollbar {
    display: none;
  }
  .series__item {
    margin: 0;
    padding: 16px 0;
  }
  .series__item::after {
    border-radius: 10px;
  }
  .series__item:hover {
    color: #ffffff;
  }
  .series__item:hover::after {
    background-color: transparent;
  }
  .series__item:active {
    color: #222222;
  }
  .series__item:active::after {
    background-color: #ffe800;
  }
  .series__item-right {
    gap: 6px;
  }
  .series__item-title {
    font-size: 28px;
    line-height: 100%;
  }
  .series__item-description {
    font-size: 14px;
  }
  .full-screen-button {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .bottom-section {
    padding: 0;
  }
  .shade {
    position: absolute;
    content: "";
    display: none;
    width: 100vw;
    height: 200vh;
    top: 0;
    left: 0;
    background-color: #212121;
    opacity: 0.85;
    z-index: 2;
  }
  .shade--active {
    display: block;
  }
  .share {
    position: absolute;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin: 0;
  }
  .share__button {
    position: absolute;
    padding: 0;
    top: 300px;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    z-index: 1;
  }
  .share__content {
    position: absolute;
    max-width: 335px;
    height: -moz-fit-content;
    height: fit-content;
    top: 300px;
    left: calc(50% - 345px / 2);
    z-index: 2;
  }
  .share__content--mobile {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .share__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    top: 8px;
    right: 8px;
  }
  .share__title {
    margin-bottom: 18px;
  }
  .share__links {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 14px;
  }
  .share__links::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 74px;
    background-color: #ffffff;
    opacity: 0.08;
  }
  .share__copy-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 14px;
    gap: 8px;
  }
  .share__info {
    margin-bottom: 0;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
  }
  .share__form {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    background-color: #ffe800;
  }
  .share__form-button path {
    stroke: #212121;
    stroke-opacity: 1;
  }
  .share__pop-up {
    width: 100%;
    padding: 0 10px;
    bottom: -44px;
    font-size: 14px;
    color: #1e1e1e;
  }
  .share__pop-up-wrapper {
    padding: 0 24px;
    height: 54px;
    background-color: #eee;
    border: 1px solid #4c4c4c;
    border-radius: 16px;
  }
  .share__content--mobile .share__close,
  .share__content--mobile .share__title,
  .share__content--mobile .share__links,
  .share__content--mobile .share__info,
  .share__content--mobile .share__form {
    display: none;
  }
  .video-footer {
    padding: 48px 0 20px;
  }
  .video-footer__wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .video-footer__right {
    justify-content: space-between;
    margin-bottom: 18px;
    width: 100%;
  }
  .video-footer__right {
    gap: 10px;
  }
  .mobile-display-none {
    display: none;
  }
  .stop-scroll {
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  .series {
    left: calc(50% - 50px);
  }
  .series--full {
    width: -moz-fit-content;
    width: fit-content;
  }
  .series__wrapper--full {
    position: absolute;
    display: none;
    padding: 16px 18px 18px;
    left: calc(50% - 345px / 2);
    max-height: 70vh;
    border: 1px solid #4c4c4c;
  }
  .series__wrapper--active {
    display: flex;
  }
  .share__content {
    max-width: calc(100vw - 20px);
    right: 10px;
    left: 10px;
  }
}
@media (max-width: 340px) {
  .series__wrapper--full {
    left: calc(50% - 310px / 2);
    width: 300px;
  }
}
